[2011-11-30 13:54] codingfreak opened #3 "2 Files not included"
Hi,

I downloaded the source and the files DataTypes.cs and StringUnionOperations.cs are missing in the Src. What can I do? Thanks!

Alex

[2011-11-30 15:25] #3 closed, assigned to nobody

[2011-11-30 20:57] codingfreak opened #4 "Pattern-problem"
If I use "[A-Z][0-9A-Z]{10}" as the pattern, I get a string of 11 chars lenth but char 2 to 11 is always a number. This is true for other patterns too:

"[A-Z][A-Za-z0-9]{10}"
"[A-Z][a-zA-Z0-9]{10}"

Other samples:
"[A-Za-z0-9]{11}" => 11 numbers
"[A-Za-z]{11}" => 11 upper-case letters

Seems to be a little bit confusing to me.

[2012-10-21 16:50] moodmosaic opened #5 "StackOverflowException in Xeger"
The following regular expressions create a StackOverflowException:

[code]

The `Xeger` class keep traversing the Automaton's States resulting to a StackOverflowException. This happens in the `IList<Transition> GetSortedTransitions()` method of the `State` class.

The issue appeared after [this](https://github.com/moodmosaic/Fare/commit/d0a995ebc61b7034c9556234eb413f6b9b3a6e74#Src/Fare/BasicOperat

[2012-10-21 17:10] #4 closed, assigned to nobody

[2013-02-24 16:48] Versifex opened #7 "Huffman Minimization Mark List Initialization Issue"
The initialization of the List called "mark" in MinimizationOperations.MinimizeHuffman is incomplete, and consequently an Index Out of Bounds error is produced for "mark[n1][n2] = true;" (This is of course only when Automaton.Minimization is set to Automaton.MinimizeHuffman).

[2013-10-19 08:55] moodmosaic opened #8 "Add a build automation script"
Add the appropriate build automations in order to:
- Auto-increment assembly version numbers
- Build
  - Verify / Code Analysis
  - Test Run
- Release
- Create NuGet Packages

[2013-10-19 08:58] #8 closed, assigned to nobody

[2013-10-19 09:04] moodmosaic opened #9 "Compiler Warning (level 4) CS1591 should be addressed"
Currently, when running the `BuildRelease.msbuild` script, there are a few compiler warnings of type [CS1591](http://msdn.microsoft.com/en-us/library/zk18c1w9.aspx).

These warnings should be addressed by adding the appropriate XML documentation.

[2015-05-03 06:14] HassanGulzar opened #12 "Some expression causes infinite delays and memory + CPU usage"
Here is an expression I tried:

`^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8}$`

Been running for two hours now and memory usage is over 1.2GB and going up. I'm trying to generate a very secure password like string.

[2015-05-03 12:36] moodmosaic commented on #12
Thank you for reporting this!

As it looks like, the pattern you use is not supported:
[code]
![Regular expression visualization](https://www.debuggex.com/i/a99GbmOTIigJqWGe.png)

Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/).

You may use a different p

[2015-06-07 07:36] nefcanto opened #13 "To create anything, creates Chinese characters"
I'm trying to get a random string. Anything is acceptable. Thus I came with this regular expression:

.*

That literally means any character, any number of times.

However, I ran this line of code like a thousand times, and not even once I get a simple English character, all gibberish and Chinese.

new Fare.Xeger(".*").Generate(); // ran for a thousand times, and I expected outputs like "A坏_#@la",

[2015-06-07 18:51] moodmosaic commented on #13
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects.

Yo

[2015-06-30 12:04] nefcanto opened #14 "Repetitive generation returns same result at high speed"
Hi,

I'm generating like 5000 instances of data using Fare in parallel. From some point onward the results get repetitive.

The code is:

static Xeger persianWordPattern = new Xeger(@"[آ ا ب پ ت ج چ ح خ د ذ ر ز ژ س ش ص ض ط ظ ع غ ف ق ک گ ل م ن و ه ی]{2,8}");

And in a parallel loop, after a while the results would become:

آآ
آآ
آآ
آآ
آآ
آآ
آآ
آآ

Any idea why this is so?

Thank you for this great

[2015-07-01 06:40] moodmosaic commented on #14
Thank you for reporting this! It looks weird to me as well, and I can't currently think a solution to this.

Have you tried with a different pattern?

[2015-07-01 06:43] nefcanto commented on #14
Yeah, actually I thought maybe it's because of the Unicode characters. Thus I tried [a-z]{3,10} too, and it also has the same problem.

[2015-07-01 06:46] moodmosaic commented on #14
Looks like a session with the debugger is warranted :smile: – I'll let you know if I found a solution to this.

[2015-07-01 06:47] nefcanto commented on #14
Thank you. This library is really useful. Removing these bugs is worth it. I would be pleased to help.

[2015-07-01 06:53] moodmosaic commented on #14
You're welcome to help, by sending Pull Request(s)! Also, feel free to ask questions – please keep in mind that I might not have all the answers :smiley:

[2015-07-01 06:59] moodmosaic commented on #12
Since there's no activity on this item, I'm going to close it. Even as closed, it's still reachable for future reference. Please, feel free to reopen it, if you think there's more work to be done.

[2015-07-01 06:59] #12 closed

[2015-11-16 12:53] sprotty opened #15 "Inifinite loop processing expression"
The sample code below causes FARE to enter an infinite loop, the problem is in BasicOperations.Determinize. I don't follow the code, but it looks like the bug maybe that its not stopping in the accept check (the break drops out of the for loop not the outer while loop).

     while(...)
     {
              ...
              foreach (State q in s)
                {
                    if (q.Accept

[2015-11-17 08:20] moodmosaic commented on #15
Thank for reporting this :+1: This looks like a bug.

It's been a while since I looked into the source code, which is a [port of Java](http://blog.nikosbaxevanis.com/2011/11/19/notes-from-porting-java-code-to-net/)'s [dk.brics.automaton](http://www.brics.dk/automaton/), and so it might take a while before I report back. :neutral_face:

[2015-11-19 18:33] #15 closed

[2015-11-19 18:34] moodmosaic commented on #15
This is now fixed and available as [Fare 1.0.1](https://www.nuget.org/packages/Fare/).

[2015-11-19 18:56] sprotty commented on #15
Great, I'll give it s go tomorrow. Thanks for the amazing turn around

Cheers Simon

Sent from a fiddly little phone with tiny buttons, so don't expect to much.

[2016-02-19 09:20] Fread75 opened #16 "Issues with Automaton.Intersection"
Hello,

Before all, thanks for you portage, this is exactly what I was looking for, unfortunately I encounter an issue with the only method I need.

I have an issue with those 2 following basic tests I made with the Intersection method :
* I defined the 2 RegExp : "ab.\*" and "a.\*", when I try to calculate their intersection I receive an System.OutOfMemoryException
* I defined the 2 RegExp : "ab"

[2016-02-19 09:47] moodmosaic commented on #16
Thank you for reporting this! I'll take a look but I can't promise if I'll be able to fix it :smiley:

[2016-02-22 16:51] Fread75 commented on #16
Hello,

I just made the same test with the original java package and everything works fine, it seems to be a java to C# conversion issue.

[2016-02-22 16:53] moodmosaic commented on #16
Thanks for the hint!

[2016-02-25 04:33] moodmosaic commented on #16
Now that #17 has been merged, should we close this? :smiley:

[2016-02-25 10:49] Fread75 commented on #16
Yeah of course, sorry it was my first time with git and github, I thought
that it would be possible to link an issue with a pull request.
Le 25 févr. 2016 05:33, "Nikos Baxevanis" <notifications@github.com> a
écrit :

[2016-02-25 10:51] moodmosaic commented on #16
:+1: That's fine! Thank you for your decent work!

[2016-02-25 10:51] #16 closed

[2016-05-05 09:51] moodmosaic opened #18 "Implement IComparable in State class"
As discussed in [this](http://stackoverflow.com/q/37005400/467754) thread, it looks like the F# comparison constraint looks for (non-generic) `IComparable`, which the existing `IComparable<T>` doesn't inherit from.

The `State` class implements `IComperable<T>` and so it could also implement `IComparable` as well.

[2016-05-05 13:41] moodmosaic commented on #18
Resolved by #19.

[2016-05-05 13:41] #18 closed

[2016-08-17 07:47] TomerHaber1 opened #20 "Xeger dont recognize \s as space"
When i use "\s" in my regex, Xeger puts an 's' in the result.

[2016-08-17 12:48] moodmosaic commented on #20
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2016-11-04 20:34] kalluri-nb opened #21 "Any plan to support netstandard TFMs"
Is there any plan to support the new Netstandard target framework in the future?

[2016-11-05 09:28] moodmosaic commented on #21
No plans yet, but I'm open to suggestions and pull requests 😃

[2016-11-07 18:33] bogdan2 opened #22 "Xeger doesn't recognize \p{L}, \p{Lu}, \p{N} and possibly others"
Hello:

Just to let you know that I tried to use Xeger to generate random strings based on \p{L}, \p{N}, and \p{Lu} and they don't seem to be supported.

Is there a way to use them?

Thanks

[2016-11-07 21:37] moodmosaic commented on #22
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2016-12-28 09:52] sprotty opened #23 "Issue with expression"
The following regex comes from the chrome-manifest.json

When used with the following code it throws an exception (argument all_urls not found).
I'm no regex expert, but other online parsers validate it, so I assume its valid....

    Fare.Xeger sut = new Fare.Xeger(regexString);
    string result = sut.Generate();

    ^((\*|http|https|file|ftp|chrome-extension):\/\/(\*|\*\.[^\/\*]+|[^\/\*]+)?(\/

[2016-12-28 13:17] moodmosaic commented on #23
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2017-01-18 09:15] autobot1122 opened #24 "Cannot recognize "(?!0000)\d{4}""
var randString = string.Empty;
Xeger xegerGenerator = new Xeger(regexPattern);
randString = xegerGenerator.Generate();

randString  = "!00004377";

It should be any four digits except "0000" (four zeros)

[2017-01-18 13:54] moodmosaic commented on #24
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2017-03-02 17:43] DanyO opened #25 "Strong Name Signing"
Would it be possible to "Strong Name Sign" the assemblies in this NuGet package?

Referencing/Using this package in a strongly-named assembly results in the following error at runtime:
Could not load file or assembly 'Fare, Version=1.0.3.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)

[2017-03-02 18:57] DanyO commented on #14
@nefcanto
A workaround for this issue would be to initialize Xeger with an outside Random object instead of letting Zeger use and declare its own. (using the constructor Xeger(expression, random)). The Random() object should only be initialized once and not on every call/thread.

Also, you might want to consider Instantiating Xeger() only once and not for every call/thread.

The reason for this is

[2017-03-03 05:16] moodmosaic commented on #14
Very nice. That's actually the idiomatic way of making `Random` less deterministic in .NET, so I'm going to close this one. Feel free to reopen if needed.

[2017-03-03 05:16] #14 closed

[2017-03-03 05:17] moodmosaic commented on #25
Perhaps, it would be possible, but wouldn't it be a breaking change to existing consumers of the .DLL?

[2017-03-03 08:58] JimiC commented on #25
@DanyO Clone the repo and build it by signing it with your own key, assuming that the same `dll` is going to be used in all your projects. Then reference the signed `dll` to your project. I know that this is an extra step of maintenance from your side, but this way everyone gets what he wants and no breaking changes are introduced.

[2017-10-30 19:42] ejs09f commented on #13
I'm running into this issue too.  I don't suppose either of you figured out why we're getting Chinese characters?  Thanks!

[2017-10-30 22:49] edwardskrod commented on #5
@moodmosaic Did you guys ever figure this out?

[2017-10-31 10:23] moodmosaic commented on #13
@edwardskrod, this is a wild guess, but I'm thinking whether it's because of some encoding issue that slipped through while I was porting the code from the Java version...

I'd be curious to find out if this is the case also in the Java version, which means I'd first have to install Java and a Java-capable IDE on my machine, so I can compare with the [original Java versions](https://github.com/moo

[2017-10-31 10:26] moodmosaic commented on #5
@edwardskrod, no we haven't. See also https://github.com/moodmosaic/Fare/issues/13#issuecomment-340720213.

[2017-10-31 15:48] edwardskrod commented on #13
@moodmosaic We were able to run the .jar from https://code.google.com/archive/p/xeger/downloads using the following Regex:  ^([^ A-Z]+)$

It looks like the issue is in the original Java code as well.

I believe this is because they are using the Unicode character set to generate characters.

Interestingly enough, the generated string will validate when you call Regex.Validate and pass the generate

[2017-10-31 16:18] moodmosaic commented on #13
@edwardskrod, thank you for trying this also in the Java version. At this point, I think we could deviate from the Java version, and perhaps use ASCII, or some Unicode subset that will generate readable characters.

[2017-10-31 16:20] edwardskrod commented on #13
@moodmosaic   I'll take a look.  My first priority is to figure out how to solve the Stack Overflow exception generated by certain regular expressions.  I'll let you know if I figure it out.

[2017-10-31 16:21] moodmosaic commented on #13
@edwardskrod, sounds good.

[2017-12-17 09:17] vasily-kirichenko opened #26 "It generates the same string being called in a sequence"
[code]
run 1
[code]
run 2
[code]
run 3
[code]

[2017-12-19 21:43] moodmosaic commented on #26
This looks like a bug in [Xeger.cs](https://github.com/moodmosaic/Fare/blob/81c1b2e176c217f79a39d0b63e2438f94afee7b4/Src/Fare/Xeger.cs) which has been ported from [here](https://code.google.com/archive/p/xeger/). It's been a long-long time since I did all this, and I currently don't have Java installed on my local to compare with the Java version.

I'd be curious to see if the problem persists if

[2017-12-19 21:50] moodmosaic commented on #26
Also, I can't remember if Xeger guarantees that the generated strings should be unique, but from what I see in the source code, the issue might be [here](https://github.com/moodmosaic/Fare/blob/81c1b2e176c217f79a39d0b63e2438f94afee7b4/Src/Fare/Xeger.cs#L85-L90), and I'd start by comparing it with the [this](https://github.com/bluezio/xeger/blob/3098732bc920194a5bf5378310d24dc32f1e6cf2/src/main/jav

[2017-12-19 21:54] moodmosaic commented on #26
For one, [this](https://github.com/moodmosaic/Fare/blob/81c1b2e176c217f79a39d0b63e2438f94afee7b4/Src/Fare/Xeger.cs#L42) should be the only available constructor for Xeger―[this](https://github.com/moodmosaic/Fare/blob/81c1b2e176c217f79a39d0b63e2438f94afee7b4/Src/Fare/Xeger.cs#L62) one should be deprecated as it always creates a *new* Random instance.

[2017-12-20 08:52] moodmosaic opened #28 "Xeger class should be rebased on the latest Xeger version in Java"
See https://github.com/bluezio/xeger/blob/master/src/main/java/nl/flotsam/xeger/Xeger.java. This might be related to #26, but it should also be an improvement as the [old Java repo](https://code.google.com/archive/p/xeger/) is no longer maintained.

[2017-12-20 10:28] moodmosaic commented on #26
Based on what discussed in #27, I'm not 100% sure there's much we can do to generate totally different results. At least now we can generate some more distinct elements.

I think it boils down to #28, and perhaps we can close this one, but I'll let you decide. 🥇

[2017-12-20 12:03] vasily-kirichenko commented on #26
Thanks you, it's ok for now.

[2018-01-16 13:44] zvirja opened #29 "Push tags corresponding to the releases"
I'm looking to work on the https://github.com/AutoFixture/AutoFixture/issues/938. I would like to rework the build/versioning system to make it similar to the AutoFixture model (where it's CI based). It's well described [here](https://github.com/AutoFixture/AutoFixture/wiki/Project-processes#release-process).

The first step (and basically for the consistency) I need repo to contain the tags. Coul

[2018-01-17 02:48] moodmosaic commented on #29
Sure, I can add them, but it might take me a few days before I get to it.

Happy to give you push permissions if you want to do this yourself.

[2018-01-17 13:50] zvirja commented on #29
@moodmosaic I'm perfectly fine to wait a few days before the tags are arranged :) Please ensure to prefix them with `v` (i.e. `v1.0.0`) - that's required by the build scripts.

For now I don't want to own this project and will be fine if it's owned by you 😅

[2018-01-17 14:17] moodmosaic commented on #29
Having push permissions doesn't mean you own it per se.

I'm make sure to prefix the tags with v.

[2018-01-17 14:34] zvirja commented on #29
I know, but due to some reasons had that feeling 😉

Let me know if you need my assistance with this or AppVeyor setup and I'll gladly help 👍

[2018-01-19 05:52] #21 closed

[2018-01-19 11:48] moodmosaic commented on #29
@zvirja, I just pushed the tags.

[2018-01-19 12:21] moodmosaic opened #31 "Build scripts should also run in Un*x operating systems"
because right now I'm mostly on macOS High Sierra (10.13) and Ubuntu (16.04) and I can't easily run a build and push a new package on NuGet (#30, #21).

[2018-01-19 12:22] moodmosaic commented on #29
So now I think we should close this one?

[2018-01-19 12:23] zvirja commented on #29
Yep. It's done.

[2018-01-19 12:23] #29 closed

[2018-01-19 12:32] zvirja commented on #31
@moodmosaic Unfortunately, I don't have MacBook yet to test up the script there. That's why you need AppVeyor to run the build 😄

Do you want me to provide you with the latest artifacts (build locally) so you could proceed with the release? 😅

[2018-01-19 12:35] moodmosaic commented on #31
Sure :laughing: I may not try them right now but I'm curious so I think I'll get to them soon. Thank you!

[2018-01-20 11:30] zvirja commented on #31
@moodmosaic It seems that you performed some weird tagging, so now `git describe` is confused:
[code]

It's showing `v1.0.5` instead of `v1.1.0`. I found that it could happen if you based tag on other tag: https://stackoverflow.com/questions/14380053/renaming-git-tags-results-in-inconsistency.

Could you please fix the tags (probably, remove and push again), so that `git describe` command shows `1

[2018-01-20 19:05] moodmosaic commented on #31
Yes, I did that (on the Stack Overflow answer).

I'll just delete that tag and re-tag it, in the next couple of hours hopefully.

Thank you for pointing this out.

[2018-01-20 19:15] zvirja commented on #31
@moodmosaic Thanks! Let me know when you are ready. After that I'll trigger the build and attach the artifacts, so you could publish them 😉

[2018-01-20 19:54] zvirja commented on #31
Just realized that actually I don't need to wait till you fix the tag to produce the build with valid version. Therefore, here the v1.1.0 release is: [v1.1.0 Release artifacts.zip](https://github.com/moodmosaic/Fare/files/1649223/v1.1.0.Release.artifacts.zip)

[2018-01-21 10:17] moodmosaic commented on #31
Tags should be all set now. I will push a new version on NuGet tomorrow.

[2018-01-22 17:07] moodmosaic commented on #31
FWIW, I've just pushed Fare 1.1.0 on NuGet.

[2018-01-22 17:09] moodmosaic commented on #21
Fare 1.1.0 (and newer) supports .NET Standard 1.1 in addition to .NET 3.5. :rocket:

[2018-01-22 17:40] zvirja commented on #31
@moodmosaic Awesome, thanks for notifying! 😉

[2018-02-01 01:30] moodmosaic commented on #25
See https://github.com/AutoFixture/AutoFixture/pull/972#issuecomment-361206258.

A signed version of the assembly will be released as *Fare.Signed* next to the existing NuGet package. So there will be two NuGet packages:

- Fare
- Fare.Signed

I'll close this once the new NuGet package is pushed.

[2018-02-01 01:30] moodmosaic commented on #25
/cc @zvirja

[2018-02-22 10:40] BenjiDNet opened #32 "Xeger throws if regex contains "(#)""
We are using Fare / Xeger to generate Data from a specific Regex, but if the Regex contains "(#)"
(like in this one: "\\d{8}(#)\\d{3}" ) it throws an InvalidOperationException "State" while generating.

[2018-02-22 10:44] moodmosaic commented on #32
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2018-04-07 19:05] #25 closed

[2018-04-12 12:48] #20 closed

[2018-04-12 13:07] zvirja opened #38 "Add AppVeyor CI"
We definitely need CI for this project, otherwise it's very dangerous to merge the PRs. Everything is ready for CI (configuration file is already present), you need to do a couple of things only:
- Go to AppVeyor and create a build for this repo (a few clicks).
- If you wish to enable automatic release after you create a tag (via GitHub UI), please update the `appveyor.yml` file and specify the Nu

[2018-04-12 13:12] moodmosaic commented on #38
I always run a build on my local before merging a PR, plus this repo didn't receive that many PRs until now, but yeah, this can be useful :+1:

[2018-04-12 14:59] #13 closed

[2018-07-12 05:22] lerppana opened #40 "Invalid licenseUrl in nuget package"
Hello!

Did you know that licenseUrl in your nuget package has a typo:
https://github.com/moodmosaic/Fare/blob/master/LICENCE

LICENCE with C

-Lassi

[2018-07-12 06:13] moodmosaic commented on #40
Thank you for reporting this 👍 I'll take a look and fix it as soon as possible (currently, I'm travelling, so it might take me a day or two before I do this).

[2018-07-12 06:14] moodmosaic commented on #40
(Feel free to open a pull request if you feel like it.)

[2018-07-12 06:20] moodmosaic commented on #40
@zvirja, do you know where we put the license URL after #30?

[2018-07-12 06:32] #40 closed

[2018-07-12 06:34] moodmosaic commented on #40
This has been fixed on `master` via #41 (notice the typo in the PR title and git commit message, well that's the tax I have to pay for doing git stuff on a plane).

Thanks for all the help 👍 🚀

[2018-07-16 03:49] moodmosaic opened #42 "build.cmd won't run on Windows with only .NET Core installed"
[code]

#30, #31, /cc @zvirja

[2018-07-16 03:49] moodmosaic commented on #42
[code]

[2018-07-17 05:04] moodmosaic commented on #38
I think we need something like this just to be able to grab the generated NuGet Packages and publish them. Personally, I no longer use Visual Studio and having troubles running the build scripts *as-is* from #30.

Even on Windows, with .NET Core installed, build scripts don't seem to work as per #42.

[2018-07-18 09:53] zvirja commented on #42
@moodmosaic Yes, it seems that the root cause is the missing VS installation. We could rewrite scripts to use `dotnet` only, so it will work with `dotnet` SDK only.

[2018-07-18 09:55] zvirja commented on #38
Answered in #42  - build scripts should be rewritten if VS installation is missing, so we use `dotnet` instead of `MsBuild`

[2018-07-18 12:52] JimiC commented on #42
Your problem lies in the attempt to "Restore" the NuGet packages, not with missing VS installation. Resolve that and you will be fine with just MSBuild.exe installed.

[2018-07-18 16:12] moodmosaic commented on #42
It is some MSBuild task that’s failing, yes. Most likely the Restore one, as shown from that error.

I’m putting this issue as a note so we can come back and fix it. Right now it is a blocker one.

[2018-07-27 17:33] #42 closed

[2018-08-22 09:44] rawwool opened #44 "System.InvalidOperationException: state"
Xeger throws System.InvalidOperationException: state when trying to generate a string for this regular expression for emails:
^(?=.{6,50}$)([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$

[2018-08-22 09:45] moodmosaic commented on #44
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects. – W

[2018-08-29 11:45] sprotty opened #45 "locks up generating a value"
string patternPropertyName = (new Fare.Xeger("(.*)docker_builder")).Generate();

Would maybe be worth adding some kind of timeout or limit to the generate function so issues like this don't kill an application.

[2018-08-29 12:33] moodmosaic commented on #45
Couldn’t you use https://github.com/App-vNext/Polly for dealing with retries and timeouts?

[2018-08-30 07:13] moodmosaic commented on #45
We could add a `Generate` overload that takes some kind of *options* where you can specify a timeout, but this would internally consume a library like https://github.com/App-vNext/Polly.

Usually, you'd want to use Polly in the context of a [cross-cutting concern](https://en.wikipedia.org/wiki/Cross-cutting_concern), which better fits in the *application* space rather having it embedded in individ

[2018-08-30 07:13] #45 closed

[2018-09-19 12:15] CeesKaas opened #46 "NuGet.org License link points to https://github.com/moodmosaic/Fare/blob/master/LICENCE"
the link to the license on nuget.org points to https://github.com/moodmosaic/Fare/blob/master/LICENCE instead of https://github.com/moodmosaic/Fare/blob/master/LICENSE

[2018-09-19 12:48] moodmosaic commented on #46
I thought we fixed that in https://github.com/moodmosaic/Fare/pull/41.

[2018-09-19 12:50] moodmosaic commented on #46
So, it *is* actually fixed in the source code... We just need to release a new version on NuGet Gallery. Thanks for the heads up. This should be automatically resolved in the next release. :+1:

[2018-09-19 12:50] #46 closed

[2018-09-19 12:53] CeesKaas commented on #46
sorry forgot to check already closed issues

[2018-09-19 12:54] moodmosaic commented on #46
No problem :+1:

[2018-09-21 09:52] nasskov opened #47 "Xeger sometimes fails to generate a string matching this regex: @"^[^\s]+$""
The RegEx pattern: @"^[^\s]+$" expects a string without spaces, yet Xeger sometimes generates results which are contradicting this requirement.
A code to prove it:
[code]

Some results:
Failed at attempt:9150, generated string is: ' ~v'
Failed at attempt:1, generated string is: ' {uyz{_z'
Failed at attempt:3397, generated string is: 'a t|o'

[2018-09-22 05:40] moodmosaic commented on #47
Thank you for reporting this!

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately, I don't have an answer to your question, as Project Fare is really a port of the above Java projects.

Yo

[2018-09-22 05:40] #47 closed

[2018-10-29 12:42] mikewardle opened #48 "Empty intersection not detected"
I am trying to write a method that will detect if there is NO intersection between 2 regular expressions (as in this answer on stack overflow for java:   [https://stackoverflow.com/a/17957180/2987400](url) )

but it never suggests that the intersection is empty.

Here is my code:

    public bool IsNotOrthogonal(string productName1, string productName2)
        {
            _log.DebugFormat("Chec

[2018-10-29 13:53] mikewardle commented on #48
Could this be that the IsEmpty property is never set?

I have tried changing to use BasicOperations.IsEmpty(i2) and now it finds empty intersections for cases I would not expect it to for example

    var logger = new Mock<ILog>();
    var sut = new RegexOverlapChecker(x => logger.Object);
    var res = sut.IsNotOrthogonal(@"Easy Access Saver", @"Easy Access Saver Reward");
    Assert.IsTrue(res);

[2018-10-29 16:09] mikewardle commented on #48
This now appears to be down to the matching of the regular expressions themselves, running:

    var a = new RegExp("Easy Access Saver").ToAutomaton();
    var isMatch = a.Run("Easy Access Saver Reward");

returns false!  There is clearly a problem with my understanding of the way the automaton are functioning in Fare.

incidentally using .net framework native regex:

    var isMatch = new Regex("

[2018-10-29 20:36] moodmosaic commented on #48
@mikewardle, thank you for reporting this. Feel free to send over a pull request if you think you know a reasonable way to solve this.

Project Fare turns Regular Expressions into [Automatons](http://en.wikipedia.org/wiki/Deterministic_finite_automaton) by applying the algorithms of [dk.brics.automaton](http://www.brics.dk/automaton/) and [xeger](https://code.google.com/p/xeger/).

Unfortunately,

[2018-11-10 19:32] trylock commented on #48
@mikewardle I've been interested in a similar problem today.  First off,

[code]

returns `false` because the automaton matches the string exactly. AFAIK regular expression `Easy Access Saver` in this library should be equivalent to `^Easy Access Server$` in C#. You can easily fix this by using a different expression: `.*Easy Access Server.*`. This will try to match `Easy Access Server` as a subst

[2018-11-11 07:14] moodmosaic commented on #48
@trylock, very nice! Yes, besides *Xeger* there's also all the other great stuff from dk.brics.automaton that's already exposed in this library, e.g. `ToAutomaton`.

---

In fact, *Xeger* does not support all valid Java regular expressions. The full set of what is defined [here](http://www.brics.dk/~amoeller/automaton/doc/index.html) and is summarized below:

[code]
<small>[(source)](https://code.

[2018-11-13 00:18] trylock commented on #5
There is a non-zero probability that pretty much any non-trivial regular expression will throw a StackOverflowException. This is because generally there will be cycles in its automaton. However, the expected number of steps of the Xeger algorithm is bounded (see http://web.cs.elte.hu/~lovasz/erdos.pdf) Simply rewriting the [Generate method](https://github.com/moodmosaic/Fare/blob/master/Src/Fare/X

[2018-11-13 09:09] moodmosaic commented on #5
Please do. There's no need for us to strictly follow the Java version (dk.brics.automaton and Xeger). :rocket:

[2018-12-03 16:23] StefH opened #49 "Update 'Which projects use Fare?'"
You can update your `Which projects use Fare?` list with:

- https://github.com/StefH/RandomDataGenerator
- https://github.com/WireMock-Net/WireMock.Net

[2018-12-03 19:33] santi77 opened #50 "Positive lookahead?"
I'm trying to get a random password with some restrictions, this is my regex

^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$._*#&%]).{8,16}$

This regex says:
* have one or more digits
* have lowercase letters
* have uppercase letters
* have one or more that symbols
* lenght between 8 and 16 chars

When I try to run this on Xeger the code hangs, It is possible to do this?

[2018-12-04 07:51] StefH commented on #50
I think you pattern should be like:
[code]

[2018-12-04 20:40] santi77 commented on #50
That works, thank you!!!

[2018-12-05 06:36] StefH commented on #50
I've my doubts if this actually works.
lookahead is not implemented

Also when using **Rex** (https://rise4fun.com/rex), I get this error:
The following  constructs are currently not supported: anchors \G, \b, \B, named  groups, lookahead, lookbehind, as-few-times-as-possible quantifiers,  backreferences, conditional alternation, substitution

So in your case, to generate a valid pattern, you can

[2018-12-05 07:51] moodmosaic commented on #49
Resolved in https://github.com/moodmosaic/Fare/commit/703c5e24b9b4e352663f0b4acf8ab832c75cffbc.

[2018-12-05 07:51] #49 closed

[2019-04-03 20:37] moodmosaic commented on #46
I just pushed https://www.nuget.org/packages/Fare/2.1.2 which fixes that license typo.

[2019-04-03 20:37] moodmosaic commented on #40
I just pushed https://www.nuget.org/packages/Fare/2.1.2 which fixes that license typo.

[2019-07-12 12:03] KamranShahid opened #53 "Invalid expression is get generated"
What i wanted is
"The Password must have a minimum of 8 characters, including at least 1 special character, 1 digit and once capital letter."
I have a following expression ^((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})$
But it is not generating valid expression
Please check what's the problem

[2019-11-11 13:58] gianmarialari opened #54 "a{0,50} generate short string"
If I write a regex expression like `a{0,100}` I expect that `Xeger.Generate()` generates one of the possible matching sequences ("a", "aa","aaa","aaa" ...... "aaaaaaaaaaaaa[....]aaaaaaaaaaaaaa").

But `Xeger.Generate()` almost never generate sequence longer than 15.  On stackoverflow [Issue generating multiple occurrence with Fare/Xeger](https://stackoverflow.com/a/58798409/511956) they told me

S

[2019-11-13 14:29] moodmosaic commented on #54
Thank you for reporting this, @gianmarialari.

This look like a `xeger` issue to me, and it'd be better if we could ping the maintainer(s) of the current upstream/java version. I believe, they can be found at https://github.com/bluezio/xeger.

I'd be really interested hearing any thoughts on this—perhaps this is something that has been already improved, and so we can just update the C#/.NET fork w

[2019-11-14 07:42] gianmarialari commented on #54
Thank you for your answer!

I made some test also with the java library. This is the code I used:

import nl.flotsam.xeger.Xeger;
class ExampleProgram {
   public static void main(String[] args){
      String regex = "a{0,100}";
      Xeger generator = new Xeger(regex);
      for (int i =0; i<30;++i){
            String result = generator.generate();
            System.out.println(result);
      }

[2019-11-14 09:00] moodmosaic commented on #54
Great, just saw it, https://github.com/bluezio/xeger/issues/3. Let's see what we get back.

[2019-11-15 13:48] gianmarialari commented on #54
Ciao Moodmosaic,

I post here a small program to transform a string like "a{n1 ,m1} bill{ n2,   m2} carl{3}" to "a{r1} bill{r2} carl{3}" where r is a random number between {n,m}.

[code]

My program probably contains few errors, it's surely not efficient and it could surely be better written but I hope other can enjoy it.

Thank you Moodmosaic.
G.

[2019-11-15 13:53] moodmosaic commented on #54
Thank you, @gianmarialari :+1:

[2019-11-19 13:42] gianmarialari commented on #54
Dear moodmosaic,
here it is a new version of the previous program. The `ConvertQuantifiers` function is written in a more modular way, and hopefully a bit clearer. More important it fixes a bug. Unfortunately I'm not a regex expert so I'm not able to say if it works with all the regex string, but if I understood correctly regex quantifiers syntax, it should :)
I hope other will found it useful.

u

[2019-11-25 12:57] moodmosaic commented on #54
That's great! Perhaps we can add some examples in the library!

[2019-11-25 21:32] gianmarialari commented on #54
If you think I can help please let me know, I will be glad to help.
Ciao, g.

[2020-03-19 10:49] moodmosaic commented on #32
@BenjiDNet, could you check if https://github.com/moodmosaic/Fare/pull/55 solves your issue? If it does, we can do a release soon.

[2020-03-19 10:58] BenjiDNet commented on #32
@moodmosaic we worked around this by catching any Regex with '#', and left it at that. -Therefor this can be closed, thanks for your feedback!

[2020-03-19 10:58] #32 closed

[2020-03-19 11:03] moodmosaic commented on #32
Sounds good. Thanks for letting me know.

[2020-06-23 08:25] MagnusMikkelsen commented on #26
This issue remains in .NET framework. The underlying cause for this is the behaviour of `new Random()`. In .Net framework it uses tick count - which remains the same in 1/10000 ms.

Because of this, if you rapidly do `new Xeger()` you might get the same underlying random sequence, and in turns the same random strings.

`new Random()` in .Net Core internally generates a unique seed, and therefore w

[2020-06-23 15:22] moodmosaic commented on #26
Perhaps we can fix this in .NET Framework [by specifying the seed](https://docs.microsoft.com/en-us/dotnet/api/system.random.-ctor?view=netframework-4.8#System_Random__ctor_System_Int32_) value.

[2020-06-24 07:19] MagnusMikkelsen commented on #26
Maybe by shamelessly using the implementation in System.Random in .net core?

The implementation can be seen here: [Random.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Random.cs)

... and the PR with the improvement and considerations here: https://github.com/dotnet/coreclr/pull/2192

In short it uses an internal `Random` object to generate seed

[2020-06-24 07:56] moodmosaic commented on #26
Thank you for investigating :+1: :100:

Random.cs is licensed under MIT license, so I think it should be OK to copy some parts from that file and use them here.

## Options

→ One option would be to change `new Random()` with `new Random(GenerateGlobalSeed())`  where `GenerateGlobalSeed` is defined as

[code]

*(Note that `GetRandomBytes` [uses the `RNGCryptoServiceProvider`](https://referencesour

[2020-06-24 08:12] MagnusMikkelsen commented on #26
Will do. I've started off with the failing test, and will push an implementation to my fork later.

[2020-06-30 11:03] moodmosaic commented on #26
One improvement is to use the following (already released) overload: https://github.com/moodmosaic/Fare/blob/703c5e24b9b4e352663f0b4acf8ab832c75cffbc/Src/Fare/Xeger.cs#L42

It's then up to the caller to supply a `Random` instance, but even a default (shared) instance should be good enough for the test provided by @vasily-kirichenko, and also for the AutoFixture internals in https://github.com/Auto

[2021-02-22 17:12] mohamadbahmani opened #57 "running xeger.Generate() causes stack overflow exception"
string regexPattern=@"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"

[code]

[2022-01-20 08:20] gregsdennis commented on #50
This worked for me as well, but I don't understand why.  The construct `(?=.<something>)` works for online regex validators, but `(?.<something>)` is reported as invalid yet it works in .Net.

[2022-01-20 09:17] gregsdennis commented on #57
Maybe a duplicate of #5?